

body {
  display: flex;
  align-content: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(171,215,237,1) 0%, rgba(171,215,237,0.76234243697479) 50%, rgba(171,215,237,1) 100%);

  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.weather__container {
  width: clamp(400px, 50vw, 800px);
  min-height: 600px;
  background: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  top: 50px;
  border-radius: 20px;
  filter: drop-shadow(15px 9px 21px #295761);
  padding: 10px 30px;

}

.weather__city {
  text-align: center;
}
